In [1]:
spark

In [2]:
sc

In [3]:
i = [('Alice',1)]
spark.createDataFrame(i).collect()

[Row(_1='Alice', _2=1)]

In [4]:
spark.createDataFrame(i,['name','age']).collect()

[Row(name='Alice', age=1)]

In [5]:
rdd = sc.parallelize(i)
spark.createDataFrame(rdd).collect()

[Row(_1='Alice', _2=1)]

In [7]:
from pyspark.sql import  Row

In [9]:
Person = Row('name','age')
person = rdd.map(lambda r: Person(*r))
spark.createDataFrame(person).collect()

[Row(name='Alice', age=1)]

In [11]:
from pyspark.sql.types import *

In [22]:
schema = StructType([StructField('name',StringType(),True),StructField('age',IntegerType(),True)])
df = spark.createDataFrame(rdd,schema)
df.collect()

[Row(name='Alice', age=1)]

In [16]:
sqlContext.range(1,7,2).collect()

[Row(id=1), Row(id=3), Row(id=5)]

In [17]:
sqlContext.registerFunction("strLen",lambda x:len(x))
sqlContext.sql("select strLen('heheh')").collect()

[Row(strLen(heheh)='5')]

In [18]:
sqlContext.registerFunction("strLen",lambda x:len(x),IntegerType())
sqlContext.sql("select strLen('heheh')").collect()

[Row(strLen(heheh)=5)]

In [23]:
sqlContext.registerDataFrameAsTable(df,'table1')
print("table1" in sqlContext.tableNames())

True

In [24]:
df2 = sqlContext.tables()
df2.filter("tableName='table1'").first()

Row(database='', tableName='table1', isTemporary=True)

In [26]:
df.agg({'age':'max'}).collect()

[Row(max(age)=1)]

In [27]:
from pyspark.sql import functions

In [28]:
df.agg(functions.min(df.age)).collect()

[Row(min(age)=1)]

In [30]:
df.columns

['name', 'age']

In [31]:
df.count()

1

In [32]:
df.describe().show()

+-------+-----+---+
|summary| name|age|
+-------+-----+---+
|  count|    1|  1|
|   mean| null|1.0|
| stddev| null|NaN|
|    min|Alice|  1|
|    max|Alice|  1|
+-------+-----+---+

In [33]:
df = sc.parallelize([ \
     Row(name='Alice', age=5, height=80), \
     Row(name='Alice', age=5, height=80), \
     Row(name='Alice', age=10, height=80)]).toDF()

In [34]:
df.dropDuplicates().show()

+---+------+-----+
|age|height| name|
+---+------+-----+
|  5|    80|Alice|
| 10|    80|Alice|
+---+------+-----+

In [35]:
df.dropDuplicates(['name','height']).show()

+---+------+-----+
|age|height| name|
+---+------+-----+
|  5|    80|Alice|
+---+------+-----+

In [36]:
df.dtypes

[('age', 'bigint'), ('height', 'bigint'), ('name', 'string')]

In [37]:
df.explain()

== Physical Plan ==
Scan ExistingRDD[age#240L,height#241L,name#242]

In [38]:
df.na.fill({'age':10,'name':'unkonwn'}).show()

+---+------+-----+
|age|height| name|
+---+------+-----+
|  5|    80|Alice|
|  5|    80|Alice|
| 10|    80|Alice|
+---+------+-----+

In [39]:
def f(p):
    print(p.name)
df.foreach(f)

In [42]:
df.toJSON().first()

'{"age":5,"height":80,"name":"Alice"}'